/* filters */
.filters{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    gap:10px;
}

.filter-btn{
    padding:6px 14px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    background:#e5e7eb;
    color:#333;
    font-weight:500;
    transition:all 0.5s ease;
}

/* active button */
.filter-btn-active{
    background: rgb(45, 168, 45);
    color:white;
    font-weight:600;
}

/* hover effect */
.filter-btn:hover{
    transform:translateY(-2px);
}