/* filters */
.filters{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.filters button{
    padding: 7px 14px;
    border: none;
    border-radius: 15px;
    background:#e0e0e0;
    cursor: pointer;
    transition: 0.2s;
    font-size: 16px;
}

.filters button.active{
    background:#4CAF50;
    color: black;
    font-weight:bold;
    box-shadow:0 3px 8px rgba(0,0,0,0.15);
    transform: translateY(-3px);
}

.filters button:hover{
    transform: translateY(-2px);
}
