/* =========================
GLOBAL RESET
========================= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

/* =========================
PAGE BACKGROUND
========================= */
body{
    background: linear-gradient(135deg, #153677, #4E085F);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =========================
MAIN APP CONTAINER
========================= */
.container{
    display: flex;
    flex-direction: column;
    background: white;
    width: 420px;
    max-height: 95vh;
    padding:30px;
    border-radius: 14px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.9);
}

/* =========================
TITLE
========================= */
h1{
    text-align: center;
    margin-bottom: 12px;
    color:#333;
    letter-spacing: 2px;
    font-weight: 600px;
}

.subtitle{
    color: #777;
    font-size: 12px;
    margin-top: -12px;
    margin-bottom: 5px;
}

/* =========================
BALANCE SECTION
========================= */
.balance_container{
    background: white;
    padding:8px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    font-size: 18px;
    font-weight: 700;
}

#transaction_feature.hidden{
    display: none;
}