/* =========================
Transaction list layout
========================= */
#expense_list li{
display: flex;
justify-content: space-between;
align-items: center;
padding: 8px 12px;
margin-bottom: 10px;
background: #f2f2f2;
border-radius: 10px;
font-weight: 600;
gap: 8px;
}

#expense_list{
    flex: 1;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

#expense_list::-webkit-scrollbar{
    width:6px;
}

#expense_list::-webkit-scrollbar-thumb{
    background: #bbb;
    border-radius: 10px;
}

#expense_list::-webkit-scrollbar-thumb:hover{
    background: #888;
}

/* 
Credit transaction */
.credit{
color: #1db954; /* green text */
font-weight: bold;
}

li.credit{
border-left: 4px solid #1db954; /* green side bar */
}

/* Debit transaction*/
.debit{
color: #e63946; /* red text */
font-weight: bold;
}

li.debit{
border-left: 4px solid #e63946; /* red side bar */
}

/* =========================
DELETE BUTTON
========================= */
.deletebtn{
    background:red;
    color:white;
    border:none;
    padding:5px 10px;
    border-radius:5px;
    cursor:pointer;
}

.deletebtn:hover{
    background:#c60000;
}
