/* tranction section */
.transaction{
    background-color: rgb(249, 249, 249);
    margin-top: 10px;
    margin-bottom: 2px;
}

/* transaction buttons */
.transaction_btn{
    display: flex;
    justify-content: space-between;
}

/* =========================
ADD TRANSACTION SECTION
========================= */


#add_transaction{
    border: none;
    border-radius: 6px;
    padding: 4px 8px;
    background:#73c7f4;
    color: rgb(15, 17, 17);
    cursor:pointer;
    font-size: 13px;
    font-weight: bold;
}

#add_transaction:hover{
    background:#8cd7ff;
}

#transaction_feature{
    gap: 8px;
    margin-top: 5px;
    margin-bottom: 8px;
}

#transaction_input{
    flex: 1;
    padding: 6px;
    border: 1.3px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

#transaction_input:focus{
    outline: none;
    border-color: #64cd67;
    box-shadow: 0 0 5px rgba(71, 207, 75, 0.4);
}

.input_container{
    display: flex;
    justify-content: space-between;

}

.category_credit{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.category_credit select{
    padding: 8px;
    width: 140px;
    border-radius: 8px;
    border: 2px solid #4b4848;
    font-size: 14px;
    cursor: pointer;
    background: white;
    height: 40px;
    transition: 0.3s;
}

.category_credit select:hover{
    background: rgb(226, 223, 223)
}

.category_credit select:focus{
    border-color: #4CAF50;
    box-shadow: 0 0 4px rgba(76, 175, 80, 0.4);
    outline: none;
}

/* transition info */
.transaction-info{
    display:flex;
    flex-direction:column;
}

.transaction-info small{
    color:#888;
    font-size:12px;
}

#cross{
    width:25px;
    height:25px;
    border:none;
    border-radius:50%;
    font-size:12px;
    font-weight:bold;
    cursor:pointer;

    /* colorful gradient */
    background: rgb(255, 77, 0);
    color:white;

    display:flex;
    align-items:center;
    justify-content:center;

    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

/* hover animation */
#cross:hover{
    transform: scale(1.15) rotate(90deg);
    box-shadow:0 4px 10px rgba(0,0,0,0.25);
}

/* button credit and debit */
#credit_trans{
    padding: 5px 10px;
    background: #36c63bd2;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
}

#credit_trans:hover{
    background:#4CAF50;
    transform:scale(1.05);
    transition: 0.2s;
}

#debit_trans{
    padding: 5px 10px;
    background: #e53935;
    color: #fff;
    border: none;
    border-radius:20px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
}

#debit_trans:hover{
    background: rgb(176, 25, 8);
    transform:scale(1.05);
    transition: 0.2s;
}