/* =========================
GLOBAL RESET
========================= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

/* =========================
PAGE BACKGROUND
========================= */
body{
    background: linear-gradient(135deg, #153677, #4E085F);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =========================
MAIN APP CONTAINER
========================= */
.container{
    background: white;
    width: 420px;
    padding:30px;
    border-radius: 14px;
    box-shadow: 0 15px rgba(0,0,0,0.15);
}

/* =========================
TITLE
========================= */
h1{
    text-align: center;
    margin-bottom: 20px;
    color:#333;
    letter-spacing: 10px;
    font-weight: 600px;
}

/* =========================
BALANCE SECTION
========================= */
.balance_container{
    background: #f5f5f5;
    padding:12px;
}

.transaction_feature{
    display:none;
    margin-top:10px;
    padding:8px;
}

.hidden{
    display: none;
}

/* =========================
DELETE BUTTON
========================= */
.deletebtn{
    background:red;
    color:white;
    border:none;
    padding:5px 10px;
    border-radius:5px;
    cursor:pointer;
}

.deletebtn:hover{
    background:#c60000;
}

/* =========================
Transaction list layout
========================= */
#expense_list li{
display: flex;
justify-content: space-between;
align-items: center;
padding: 8px 12px;
margin-bottom: 8px;
background: #f8f8f8;
border-radius: 6px;
font-weight: 600;
}

#expense_list{
    list-style: none;
    padding: 0;
}

/* 
Credit transaction */
.credit{
color: #1db954; /* green text */
}

li.credit{
border-left: 4px solid #1db954; /* green side bar */
}

/* Debit transaction*/
.debit{
color: #e63946; /* red text */
}

li.debit{
border-left: 4px solid #e63946; /* red side bar */
}

