/* =========================
GLOBAL RESET
========================= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

/* =========================
PAGE BACKGROUND
========================= */
body{
    background: linear-gradient(135deg, #153677, #4E085F);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =========================
MAIN APP CONTAINER
========================= */
.container{
    background: white;
    width: 420px;
    padding:30px;
    border-radius: 14px;
    box-shadow: 0 15px rgba(0,0,0,0.15);
}

/* =========================
TITLE
========================= */
h1{
    text-align: center;
    margin-bottom: 20px;
    color:#333;
    letter-spacing: 10px;
    font-weight: 600px;
}

/* =========================
BALANCE SECTION
========================= */
.balance_container{
    background: #f5f5f5;
    padding:12px;
}

.transaction_feature{
    display:none;
    margin-top:10px;
    padding:8px;
}

.hidden{
    display: none;
}

/* =========================
ADD TRANSACTION SECTION
========================= */
#add_transaction{
    border: none;
    border-radius: 6px;
    padding: 5px 10px;
    background:#73c7f4;
    color: rgb(15, 17, 17);
    cursor:pointer;
    font-size: 16px;
    font-weight: bold;
}

#addtask:hover{
    background:#4592bc;
}

.transaction_feature{
    display: flex;
    gap: 8px;
    margin-bottom: 13px;
}

#transaction_input{
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

#transaction_input:focus{
    outline: none;
    border-color: #64cd67;
    box-shadow: 0 0 3px rgba(71, 207, 75, 0.4);
}

/* =========================
DELETE BUTTON
========================= */
.deletebtn{
    background:red;
    color:white;
    border:none;
    padding:5px 10px;
    border-radius:5px;
    cursor:pointer;
}

.deletebtn:hover{
    background:#c60000;
}

/* =========================
Transaction list layout
========================= */
#expense_list li{
display: flex;
justify-content: space-between;
align-items: center;
padding: 8px 12px;
margin-bottom: 10px;
background: #f5f5f5;
border-radius: 8px;
font-weight: 600;
gap: 8px;
}

#expense_list{
    list-style: none;
    padding: 0;
}

/* 
Credit transaction */
.credit{
color: #1db954; /* green text */
font-weight: bold;
}

li.credit{
border-left: 4px solid #1db954; /* green side bar */
}

/* Debit transaction*/
.debit{
color: #e63946; /* red text */
font-weight: bold;
}

li.debit{
border-left: 4px solid #e63946; /* red side bar */
}